<table mat-table [dataSource]="acoes" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Coluna nome da ação -->
    <ng-container matColumnDef="acaoNome">
      <th mat-header-cell *matHeaderCellDef> Nome da Ação </th>
      <td mat-cell *matCellDef="let acao"> {{acao.nomeAcao}} </td>
    </ng-container>
  
    <!-- Coluna customer -->
    <ng-container matColumnDef="usuario">
      <th mat-header-cell *matHeaderCellDef> Usuário </th>
      <td mat-cell *matCellDef="let acao"> {{acao.usuario.nome}} </td>
    </ng-container>
  
    <!-- Coluna opponent -->
    <ng-container matColumnDef="pcontraria">
      <th mat-header-cell *matHeaderCellDef> Alvo da Ação </th>
      <td mat-cell *matCellDef="let acao"> {{acao.pcontraria.nome}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  