<h1>Listagem de Supervisores</h1>

<div class="botao-novo-container">
  <a mat-raised-button color="accent" class="botao-novo" [routerLink]="['/supervisor/novo']">
    <mat-icon>person_add</mat-icon>
    cadastrar novo supervisor
  </a>
</div>

<table mat-table [dataSource]="supervisores" class="mat-elevation-z4">

  <!--   nome:, cpf:, email:, profissao:  -->

  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef> Nome </th>
    <td mat-cell *matCellDef="let supervisor"> {{supervisor.nome}} </td>
  </ng-container>

  <ng-container matColumnDef="cpf">
    <th mat-header-cell *matHeaderCellDef> CPF </th>
    <td mat-cell *matCellDef="let supervisor"> {{supervisor.cpf}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> e-mail </th>
    <td mat-cell *matCellDef="let supervisor"> {{supervisor.email}} </td>
  </ng-container>

  <ng-container matColumnDef="profissao">
    <th mat-header-cell *matHeaderCellDef> Profissão </th>
    <td mat-cell *matCellDef="let supervisor"> {{supervisor.profissao}} </td>
  </ng-container>

   <!-- coluna do botão editar -->
   <ng-container matColumnDef="editar">
    <th mat-header-cell *matHeaderCellDef> Editar </th>
    <td mat-cell *matCellDef="let supervisor">
      <a mat-raised-button color="accent" title="Editar Supervisor" [routerLink]="['/supervisor', supervisor._id]">
        <mat-icon>edit</mat-icon>
      </a>
    </td>
  </ng-container>

  <!-- coluna do botão apagar -->
  <ng-container matColumnDef="excluir">
    <th mat-header-cell *matHeaderCellDef> Excluir </th>
    <td mat-cell *matCellDef="let supervisor">
      <button mat-raised-button color="warn" title="Excluir Supervisor" (click)="excluirItem(supervisor._id)">
        <mat-icon>delete_forever</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>