<button mat-button [matMenuTriggerFor]="menu">
  <mat-icon aria-hidden="false" aria-label="Menu Principal">menu</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <a mat-menu-item [routerLink]="['/acao']">Ações</a>
  <a mat-menu-item [routerLink]="['/estagiario']">Estagiários</a>
  <!-- <a mat-menu-item [routerLink]="['/estagnested']">stag_nest</a> -->
  <a mat-menu-item [routerLink]="['/supervisor']">Supervisores</a>
  <a mat-menu-item [routerLink]="['/usuario']">Usuários</a>
  <a mat-menu-item [routerLink]="['/pcontraria']">Partes Contrárias</a>
</mat-menu>
<span>
  <a [routerLink]="['/']">
      <img class="logo" src="assets/img/logo.png" alt="logo">
  </a>
</span>