<h1>{{ titulo }}</h1>

<!-- ['nome', 'cpf', 'rg', 'enderecos', 'telefones', 'data_nascimento', 'registrado_por'] -->

<form class="std-form" #f="ngForm" (ngSubmit)="salvar(f)">

    <mat-form-field>
        <mat-label>Nome</mat-label>
        <input name="nome" matInput [(ngModel)]="usuario.nome" required placeholder="Nome do usuário">
    </mat-form-field>

    <mat-form-field>
        <mat-label>CPF</mat-label>
        <input name="cpf" matInput [(ngModel)]="usuario.cpf" required placeholder="CPF, apenas os números"
            mask="000.000.000-00">
    </mat-form-field>

    <mat-form-field>
        <mat-label>RG</mat-label>
        <input name="cpf" matInput [(ngModel)]="usuario.rg" placeholder="RG">
    </mat-form-field>

    <!-- <mat-form-field>
        <mat-label>e-mail</mat-label>
        <mat-icon matPrefix>contact_mail</mat-icon>
        <input type="email" name="email" matInput [(ngModel)]="usuario.email" required
            placeholder="Conta de email válida">
    </mat-form-field> -->

    <mat-form-field>
        <mat-label>Nascimento</mat-label>
        <input type="date" name="data_nascimento" matInput [(ngModel)]="usuario.data_nascimento" required
            placeholder="Data de Nascimento">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Endereços</mat-label>
        <input name="enderecos" matInput [(ngModel)]="usuario.enderecos" placeholder="endereços">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Telefones</mat-label>
        <input type="tel" name="telefones" matInput [(ngModel)]="usuario.telefones" placeholder="telefones">
    </mat-form-field>

    <mat-form-field>
        <mat-select name="registrado_por" required placeholder="Estagiário que fez o cadastro inicial"
            [(ngModel)]="usuario.registrado_por">
            <mat-option *ngFor="let estagiario of estagiarios" [value]="estagiario._id">
                {{estagiario.nome}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-toolbar class="form-buttons">
        <mat-toolbar-row>
            <button mat-raised-button type="submit" color="accent">Salvar</button>
            <button mat-raised-button type="button" (click)="voltar(f)">Voltar</button>
        </mat-toolbar-row>
    </mat-toolbar>

</form>