<h1>{{ titulo }}</h1>

<!-- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" 
        'nome', 'cpf', 'rg', 'email','data_nascimento', 'enderecos':
            [itens:{'logradouro', 'numero', 'bairro', 'complemento', 'cep', 'cidade','estado}],
        'telefones':
            [itens:{'numero', 'tipo'}],
        'inicio_vinculo', 'fim_vinculo','curso','status' 
    -->

<form class="std-form" #f="ngForm" (ngSubmit)="salvar(f)">

    <mat-form-field>
        <mat-label>Nome</mat-label>
        <input name="nome" matInput [(ngModel)]="estagiario.nome" required placeholder="Nome do estagiário">
    </mat-form-field>

    <mat-form-field>
        <mat-label>CPF</mat-label>
        <input name="cpf" matInput [(ngModel)]="estagiario.cpf" required placeholder="CPF, apenas os números"
            mask="000.000.000-00">
    </mat-form-field>

    <mat-form-field>
        <mat-label>RG</mat-label>
        <input name="cpf" matInput [(ngModel)]="estagiario.rg" placeholder="RG">
    </mat-form-field>

    <mat-form-field>
        <mat-label>e-mail</mat-label>
        <mat-icon matPrefix>contact_mail</mat-icon>
        <input type="email" name="email" matInput [(ngModel)]="estagiario.email" required
            placeholder="Conta de email válida">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Nascimento</mat-label>
        <input type="date" name="data_nascimento" matInput [(ngModel)]="estagiario.data_nascimento" required
            placeholder="Data de Nascimento">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Endereços</mat-label>
        <input name="enderecos" matInput [(ngModel)]="estagiario.enderecos" placeholder="endereços">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Telefones</mat-label>
        <input type="tel" name="telefones" matInput [(ngModel)]="estagiario.telefones" placeholder="telefones">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Data de Início</mat-label>
        <input type="date" name="data_inicio" matInput [(ngModel)]="estagiario.inicio_vinculo" required
            placeholder="Data inicial do vínculo ao CJS">
    </mat-form-field>

    <!-- <mat-form-field>
    <mat-label>Data Início</mat-label>
    <input name="data_inicio" matInput [matDatepicker]="inicio_vinculo" [(ngModel)]="estagiario.inicio_vinculo" required>
    <mat-datepicker-toggle matSuffix [for]="inicio_vinculo"></mat-datepicker-toggle>
    <mat-datepicker #inicio_vinculo></mat-datepicker>
 </mat-form-field> -->

    <mat-form-field>
        <mat-label>Data de Término do contrato</mat-label>
        <input type="date" name="data_termino" matInput [(ngModel)]="estagiario.fim_vinculo" required
            placeholder="Data de término do contrato">
    </mat-form-field>

    <mat-form-field>
        <mat-select name="curso" required placeholder="Curso Matriculado" [(ngModel)]="estagiario.curso">
            <mat-option *ngFor="let crs of cursos" [value]="crs.codigo">
                {{crs.nome}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    
    <!-- caçar onde trocar isso por um checkbox / button, selector whatever
    o campo já é boolean, pensando em vencer o vinculo trocar automatico -->
    <mat-form-field>
        <mat-label>Situação</mat-label>
        <input name="situacao" matInput [(ngModel)]="estagiario.status" placeholder="Situação atual">
    </mat-form-field>

    <mat-toolbar class="form-buttons">
        <mat-toolbar-row>
            <button mat-raised-button type="submit" color="accent">Salvar</button>
            <button mat-raised-button type="button" (click)="voltar(f)">Voltar</button>
        </mat-toolbar-row>
    </mat-toolbar>

</form>