<h1>{{ titulo }}</h1>
<!-- ['nomeAcao', 'tipoacao', 'usuario', 'pcontraria', 'data_atendimento', 'supervisor', 'estagiario', 'providencias']  -->

<form class="std-form" #f="ngForm" (ngSubmit)="salvar(f)">

    <mat-form-field>
        <mat-label>Nº Ação</mat-label>
        <input name="num_acao" matInput [(ngModel)]="acao.num_acao" readonly>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Nome da Ação</mat-label>
        <input name="nomeAcao" matInput [(ngModel)]="acao.nomeAcao" required placeholder="Nome da Ação">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Tipo</mat-label>
        <input name="tipoacao" matInput [(ngModel)]="acao.tipoacao" required placeholder="Selecione o tipo da ação">
    </mat-form-field>

    <mat-form-field>
        <mat-select name="usuario" required placeholder="Selecione o Usuário" [(ngModel)]="acao.usuario">
            <mat-option *ngFor="let usuario of usuarios" [value]="usuario._id">
                {{usuario.nome}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-select name="pcontraria" required placeholder="Selecione a Parte Contrária" [(ngModel)]="acao.pcontraria">
            <mat-option *ngFor="let pcontraria of pcontrarias" [value]="pcontraria._id">
                {{pcontraria.nome}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Atendimento</mat-label>
        <input type="date" name="data_atendimento" matInput [(ngModel)]="acao.data_atendimento" required
            placeholder="Data do Atendimento">
    </mat-form-field>

    <mat-form-field>
        <mat-select name="supervisor" required placeholder="Selecione a Responsável" [(ngModel)]="acao.supervisor">
            <mat-option *ngFor="let supervisor of supervisores" [value]="supervisor._id">
                {{supervisor.nome}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-select name="estagiario" required placeholder="Primeiro atendimento por" [(ngModel)]="acao.estagiario">
            <mat-option *ngFor="let estagiario of estagiarios" [value]="estagiario._id">
                {{estagiario.nome}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Providências</mat-label>
        <textarea name="providencias" matInput [(ngModel)]="acao.providencias" required
            placeholder="Procidencias Tomadas" rows="5"></textarea>
    </mat-form-field>

    <mat-toolbar class="form-buttons">
        <mat-toolbar-row>
            <button mat-raised-button type="submit" color="accent">Salvar</button>
            <button mat-raised-button type="button" (click)="voltar(f)">Voltar</button>
        </mat-toolbar-row>
    </mat-toolbar>

</form>