<!-- 'nome', 'cpf', 'rg', 'email','data_nascimento', 'enderecos':
    [itens:{'logradouro', 'numero', 'bairro', 'complemento', 'cep', 'cidade','estado}],
'telefones':
    [itens:{'numero', 'tipo'}],
'inicio_vinculo', 'fim_vinculo','curso','status'
    Expanded Content Column - The detail row is made up of this one column 
    that spans across all columns -->
<h1>{{ titulo }}</h1>

<!-- <form [formGroup]="stags" #f="ngForm" (ngSubmit)="salvar(f)"> -->
<form [formGroup]="stags">
    <ng-container *ngFor="let stagform of stags.controls">
        <table>
            <div [formGroup]="stagform">
                <tr>
                    <mat-form-field>
                        <mat-label for="nome">Nome</mat-label>
                        <input type="text" formControlName="nome" matInput [(ngModel)]="estagiario.nome" required
                            placeholder="Nome do estagiário">
                    </mat-form-field>
                </tr>
                <tr>
                    <mat-form-field>
                        <mat-label for="cpf">CPF</mat-label>
                        <input formControlName="cpf" matInput [(ngModel)]="estagiario.cpf" required
                            placeholder="CPF, apenas os números" mask="000.000.000-00">
                    </mat-form-field>
                </tr>
                <tr>
                    <mat-form-field>
                        <mat-label for="rg">RG</mat-label>
                        <input formControlName="rg" matInput [(ngModel)]="estagiario.rg" required
                            placeholder="Registro Geral / Identidade">
                    </mat-form-field>
                </tr>
                <tr>
                    <mat-form-field>
                        <mat-label>e-mail</mat-label>
                        <mat-icon matPrefix>contact_mail</mat-icon>
                        <input formControlName="email" type="email" matInput [(ngModel)]="estagiario.email" required
                            placeholder="Conta de email válida">
                    </mat-form-field>
                </tr>
                <tr>
                    <mat-form-field>
                        <mat-label>Data de Nascimento</mat-label>
                        <input type="date" formControlName="data_nascimento" matInput
                            [(ngModel)]="estagiario.data_nascimento" required
                            placeholder="Data de nascimento">
                    </mat-form-field>
                </tr>
                <tr>
                    <mat-label for="enderecos">Endereços</mat-label>
                    <table #innerTables mat-table #innerSort="matSort" [dataSource]="estagiario.enderecos" matSort>
                        <ng-container matColumnDef="{{innerColumn}}" *ngFor="let innerColumn of innerDisplayEnderecos">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{innerColumn}} </th>
                            <td mat-cell *matCellDef="let element"> {{element[innerColumn]}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="innerDisplayEnderecos"></tr>
                        <tr mat-row *matRowDef="let row; columns: innerDisplayEnderecos;"></tr>
                    </table>
                </tr>

                <tr>
                    <mat-form-field>
                        <mat-select formControlName="curso" required placeholder="Curso Matriculado"
                            [(ngModel)]="estagiario.curso">
                            <mat-option *ngFor="let crs of cursos" [value]="crs.codigo">
                                {{crs.nome}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </tr>
                <tr>
                    <mat-label for="telefones">Telefones</mat-label>
                    <table #innerTables mat-table #innerSort="matSort" [dataSource]="estagiario.telefones" matSort>
                        <ng-container matColumnDef="{{innertColumn}}"
                            *ngFor="let innertColumn of innerDisplayTelefones">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{innertColumn}} </th>
                            <td mat-cell *matCellDef="let element"> {{element[innertColumn]}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="innerDisplayTelefones"></tr>
                        <tr mat-row *matRowDef="let row; columns: innerDisplayTelefones;"></tr>
                    </table>
                </tr>
                <tr>
                    <mat-form-field>
                        <mat-label>Data de Início</mat-label>
                        <input type="date" formControlName="inicio_vinculo" matInput
                            [(ngModel)]="estagiario.inicio_vinculo" required
                            placeholder="Data inicial do vínculo ao CJS">
                    </mat-form-field>
                </tr>

            </div>
        </table>
    </ng-container>


    <!--   // adicionando dinamicamente
        this.stags.removeAt()
        this.stags.insert
            ai no ng container poe um contador; "let i=index"

            removeGroup(i){
                this.stags.removeAt(i)
            }

 <section class="situacao_bol">
        <mat-radio-group [(ngModel)]="estagiario.status">
            <mat-radio-button [value]="true">Ativo</mat-radio-button>
            <mat-radio-button [value]="false">Inativo</mat-radio-button>
        </mat-radio-group>    
    </section>-->

    <mat-toolbar class="form-buttons">
        <mat-toolbar-row>
            <button mat-raised-button type="submit" color="accent">Salvar</button>
            <!-- <button mat-raised-button type="button" (click)="voltar(f)">Voltar</button> -->
        </mat-toolbar-row>
    </mat-toolbar>

</form>